<html>
    <head>
        <!-- 
            This is your index.html file, 
            when you go to the website,
            this is the first page to appear. 
        -->
    </head>
    <body>
        <p>You're probably looking for <a href="blog/">the blog</a></p>    
    </body>
</html>
